body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #edf2ef;
}

.main {
	margin-top: 2em;
}

.masthead {
	display: flex;
	align-items: center;
	height: 100vh;
}
.form-segment {
	max-width: 400px;
	margin: 0 auto;
}
.react-datepicker-wrapper {
	width: 100%;
}
.react-calendar {
	width: 100%;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.2);
}
